<form>
  <div class = "form-group">
    <label for = "latitude">Latitude</label>
    <input #latitude>
    <br>
    <label for = "longitude">Longitude</label>
    <input #longitude>
  </div>
  <button type = "button" (click) = "goGetAddress(latitude.value, longitude.value)">Get Address</button>
</form>

<br>

<form>
  <div class="form-group">
    <label for="address">Address</label>
    <input #address>
    <br>
    <label for="city">City</label>
    <input #city>
    <br>
    <label for="state">State (Abbr. only: exp. CA, OR)</label>
    <input #state>
  </div>
  <button type="button" (click) = "goGetGeocache(address.value, city.value, state.value)">Get Coordinates</button>
</form>

<div *ngIf="cache">
  <app-geocache-response [childCache]="cache"></app-geocache-response>
</div>
